<h3 class="panel-heading">Active Lists</h3>
<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      By Rating
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">By Views</a>
      <a class="dropdown-item" href="#">By Date</a>
    </div>
</div>

<br />
<br />		  
  <!-- Default panel contents -->
  <div class="row">
     <div class="col-lg-4 col-sm-6" *ngFor="let recipe of recipes; let i = index">
        <div class="card border-dark">
            <img class="card-img-top" src={{recipe.recipeImage}} alt="Card image cap" width="100%" height="25%">
            <div class="card-body">
                <h4 class="card-title">Name: {{recipe.recipeName}}</h4>
                <h4 class="rating card-text">Rating: </h4>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                <div class="col-md-12 text-center">
                    <a href="#" class="btn btn-primary btn-lg">View</a>
                </div>
            </div>	
        </div>
     </div>
    </div>

