<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="cuisine" #cuisine class="form-control" placeholder="Cuisine" aria-label="Cuisine" aria-describedby="basic-addon1">
                &nbsp;
                <button (click)="searchRecipe(cuisine.value)" class="btn btn-dark">Search</button> 
            </div>
            <br>
            <br>
    
            <h5 class="card-title" >Favorite Recipe List</h5>
            <div class="card">
                <div class="card-body" >
                    
                </div>
            </div>
            <br>
        </div>

        <div class="col-md-6">
            <div>
                <ul class="list-group" *ngIf="foundCuisine">
                     <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="{{result.recipeImage}}" alt="" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-9">
                                <div class="result-text">
                                    <p>{{result.recipeName}}</p>
                                    <p>Rating: <i *ngFor="let rate of [].constructor(result.avgRate)" id="star-icon" class="fas fa-star"></i></p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>