<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" id="cuisine" class="form-control" placeholder="Cuisine" aria-label="Cuisine" aria-describedby="basic-addon1">
                &nbsp;
                <button (click)="searchRecipe()" class="btn btn-dark">Search</button> 
            </div>
            <br>
            <br>
    
            <h5 class="card-title" >Favorite Recipe List</h5>
            <div class="card">
                <div class="card-body" >
                    
                </div>
            </div>
    
            <br>
    
        </div>


    </div>
</div>