<br>
<br>
<div class="container-fluid">
    <div class="col-md-6">
        <div class="input-group">
            <select class="custom-select" id="Ingredient">
              <option selected>Choose...</option>
              <option value="1">Egg</option>
              <option value="2">Brocolli</option>
              <option value="3">Beef</option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-primary" type="button">Add</button>
            </div>
        </div>

        <div class="IngredientBox">
            <ul>
                <li>Item1</li>
                <li>Item1</li>
                <li>Item1</li>
                <li>Item1</li>
            </ul>
        </div>
    </div>
   
</div>

