<br>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="input-group">
                <select (change)="onSelectIngredient($event.target.value)" class="custom-select" id="Ingredient">
                  <option selected>Choose...</option>
                  <option  *ngFor="let ingredient of ingredientsArray"  value="{{ingredient}}">{{ingredient}}</option> 
                </select>
            </div>
            <br>
            <br>
    
            <div class="card">
                <div class="card-body">
                    <li *ngFor="let selectedIngredient of selectedIngredients">{{selectedIngredient}}</li>
                </div>
            </div>
    
            <br>
            <div>
                <button class="btn btn-light">Reset</button>
            </div>
    
        </div>

        <div class="col-md-6">
            <div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../assets/images/padthai.jpg" alt="" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-9">
                                <div class="result-text">
                                    <p>Pad Thai</p>
                                    <p>Rating: ****</p>
                                    <p class="missing-ingredient">3 ingredients missing</p>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-3">
                                <img src="../assets/images/padthai.jpg" alt="" class="img-thumbnail"/>
                            </div>
                            <div class="col-md-9">
                                <div class="result-text">
                                    <p>Pad Thai</p>
                                    <p>Rating: ****</p>
                                    <p class="missing-ingredient">3 ingredients missing</p>
                                </div>
                            </div>
                        </div>
                    </li>
                    
                </ul>
            </div>
        </div>
    </div>
   

   
</div>

