#Ingredient {
    width: 200px;

}

.card-body{
    height: 20em;
}

img{
    width: 100px;
}

.result-text {
    margin: 10px;

}

p {
    line-height: 10px;
}

.missing-ingredient {
    font-style: italic;
    font-size: smaller;
    color: red;
}
